<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Login Template</title>
</head>
<body style="background-image: url('/static/images/background.jpg'); font-family: 'Poppins', sans-serif;">
<div class="d-flex align-items-center light-blue-gradient" style="height: 100vh;">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card rounded-0 shadow">
                    <div class="card-body">
                        <h3 style="padding-left: 20%">Log In</h3>
                        <br>
                        <form method="post" style="padding-left: 20%">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.username }}
                                {{ form.username.errors }}
                            </div>

                            <div class="form-group">
                                {{ form.password }}
                                {{ form.password.errors }}
                            </div>
                            <div>
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        <small>{{ error }}</small>
                                    {% endfor %}

                                {% else %}
                                    <br>
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary"
                                    style="background-color: crimson; border-color: black">Login
                            </button>
                        </form>
                        <br>
                        <p style="padding-left: 20%">Don't have an account? <a href="{% url 'register' %}"><strong>Register</strong></a>
                        </p>
                        <br>
                        <p style="padding-left: 20%"><a href="{% url 'home' %}">Back to Homepage</a></p>
                    </div>
                </div>
            </div>

        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>

    </div>
</div>
</body>
</html>
