{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <div class="row gutters-sm" style="padding: 30px">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        {% if not object.profile_picture %}
                            <img src="/static/images/default_profile_pic.jpg" alt="Admin"
                                 class="rounded-circle" width="150">
                        {% else %}
                            <img src="{{ object.profile_picture.url }}" alt="Admin"
                                 class="rounded-circle" width="150">
                        {% endif %}

                        <div class="mt-3">

                            <h4><strong><i>{{ object.username }}</i></strong></h4>

                        </div>

                        <p style="padding: 10px; text-decoration: none; font-size: 20px">
                            <strong>Total Likes: </strong>
                            <strong style="font-size: 30px">{{ total_likes }}</strong>
                        </p>
                        <p style="padding: 10px">{% if request.user in object.followed_by.all or request.user == user %}
                            <a
                                    href="{% url 'show followers' object.pk %}"
                                    style="text-decoration: none; font-size: 20px"><strong>Followed
                                by: </strong></a>{% else %}<strong>Followed by: </strong>{% endif %}<strong
                                style="font-size: 30px">{{ object.followed_by.count }}</strong>
                        </p>
                        <p style="padding: 10px">{% if request.user in object.followed_by.all or request.user == user %}
                            <a
                                    href="{% url 'show following' object.pk %}"
                                    style="text-decoration: none; font-size: 20px"><strong>Follows: </strong></a>{% else %}
                            <strong>Follows: </strong>{% endif %}<strong
                                style="font-size: 30px">{{ object.follows.count }}</strong>
                        </p>
                        <p style="padding: 10px; text-decoration: none; font-size: 20px">
                            <strong>Visited Landmarks: </strong>
                            <strong style="font-size: 30px">{{ object.visits.count }}</strong>
                        </p>
                        <p style="padding: 10px; text-decoration: none; font-size: 20px">
                            <strong>Posted photos: </strong>
                            <strong style="font-size: 30px">{{ all_photos.count }}</strong>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        {% if request.user in object.followed_by.all or request.user == user %}
            <div class="col-md-8">
            <div class="card mb-3">
            <div class="card-body">
            {% if object.first_name and object.last_name %}
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ object.get_full_name }}
                    </div>
                </div>
                <hr>
            {% endif %}
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{ object.email }}
                </div>
            </div>
            <hr>
            {% if object.age %}
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Age</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ object.age }}
                    </div>
                </div>
                <hr>
            {% endif %}
            {% if object.bio %}
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0" style="font-size: 20px">Bio:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ object.bio }}
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <hr>
        <hr>
        <hr>
        {% if request.user == object %}
            <div class="row">
                <div class="col-sm-12">
                    <a
                            style="font-size: 42px; padding: 10px; text-decoration: none; color: blue; font-family: 'Bitstream Vera Sans Mono', Monaco, 'Courier New', Courier, monospace"
                            href="{% url 'profile gallery' object.pk %}"><img src="{% static 'images/gallery.png' %}"
                                                                              alt="gallery" height="100"></a>

                    <a
                            style="font-size: 42px; padding: 10px; text-decoration: none; color: red; font-family: 'Bitstream Vera Sans Mono', Monaco, 'Courier New', Courier, monospace"
                            href="{% url 'profile edit' object.pk %}"><img src="{% static 'images/edit.png' %}"
                                                                           alt="edit" height="100"></a>

                    <a
                            style="font-size: 42px; padding: 10px; text-decoration: none; color: red; font-family: 'Bitstream Vera Sans Mono', Monaco, 'Courier New', Courier, monospace"
                            href="{% url 'profile delete' object.pk %}"><img src="{% static 'images/delete.png' %}"
                                                                             alt="delete" height="100"></a>
                </div>
            </div>
        {% endif %}
        {% if request.user in object.followed_by.all %}
            <div class="col-sm-12">
                 <a
                            style="font-size: 42px; padding: 10px; text-decoration: none; color: blue; font-family: 'Bitstream Vera Sans Mono', Monaco, 'Courier New', Courier, monospace"
                            href="{% url 'profile gallery' object.pk %}"><img src="{% static 'images/gallery.png' %}"
                                                                              alt="gallery" height="200"></a>
            </div>
        {% endif %}
        {% if request.user != object %}
            {% if request.user in object.followed_by.all %}
                <div class="col-sm-12" id="follow">
                    <br>
                    <a
                            style="font-size: 42px; padding: 10px; text-decoration: none; color: red; font-family: 'Bitstream Vera Sans Mono', Monaco, 'Courier New', Courier, monospace"
                            href="{% url 'follow' object.pk %}"><strong>Unfollow</strong></a>
                </div>
            {% else %}
                <div class="col-sm-12" id="follow">
                    <br>
                    <a
                            style="font-size: 42px; padding: 10px; text-decoration: none; color: blue; font-family: 'Bitstream Vera Sans Mono', Monaco, 'Courier New', Courier, monospace"
                            href="{% url 'follow' object.pk %}"><strong>Follow</strong></a>
                </div>
            {% endif %}
        {% endif %}
        </div>
        </div>
        <br>

        </div>
    </div>



    </div>

{% endblock %}


