{% extends 'base/base.html' %}
{% load static %}
{% load cache %}

{% block content %}
    <div style="background-image: url('/static/images/background.jpg')">

        <a href="{% url 'about' %}" style="text-decoration: none"><h1 style="font-size: 200px; float: top; margin: 50px; margin-left: 300px; font-weight: 800;
        color: black;
        font-family: ' Bitstream Vera Sans Mono', Monaco, 'Courier New', Courier, monospace;">
            <span style="font-size: 225px;
        font-family: 'Roboto', 'Lucida Grande', Verdana, Arial, sans-serif;
        font-weight: 1500;
        color: crimson;">T</span>RIP<span style="font-size: 225px;
        font-family: 'Roboto', 'Lucida Grande', Verdana, Arial, sans-serif;
        font-weight: 1500;
        color: crimson;">S</span>HARE </h1></a>

    </div>

    <div>
        <img src="{% static '/images/IMG_20210704_185959.jpg' %}" alt="img2" height="1200" width="1600"
             style="padding: 30px; margin-left: 60px">
    </div>

    <div style="margin: 60px">
        <p style="font-size: 20px; padding: 20px; border-width: 1px; border-color: black; display: block">
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics,
            a large language ocean. A small river named Duden flows by their place and supplies it with the necessary
            regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
            Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
            life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the
            far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas,
            wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven
            versalia,
            put her initial into the belt and made herself on the way. When she reached the first hills of the Italic
            Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of
            Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran
            over her cheek, then she continued her way. On her way she met a copy. The copy warned the Little Blind
            Text, that where it came from it would have been rewritten a thousand times and everything that was left
            from its origin would be the word "and" and the Little Blind Text should turn around and return to its own,
            safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious
            Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where
            they
            abused her for their projects again and again. And if she hasn’t been rewritten, then they are still using
            her.
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.
            Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small
            river named
            Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in
            which
            roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the
            blind texts
            it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum
            decided to
            leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of
            bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text
        </p>
    </div>

    <div style="padding: 60px">
        <h2 style="text-align: center">Some of the latest photos our members shared:</h2>
        {% for photo in all_photos %}
            <img src="{{ photo.photo.url }}" alt="img2" width="380" height="300" style="padding: 5px">
        {% endfor %}
    </div>

    <div style="padding: 80px; font-size: 25px">
        <p>
            <i>
                Yes, it's that easy to share your awesome photos and even easier to get likes and to get followed.
                So don't hesitate! Join our growing community and start sharing. One of those photos that we shared
                should be one of your memories. It's just that easy and fun! TripShare is for everyone who loves to
                travel and explore new places.
            </i>
        </p>
    </div>

    <div>
        {% if not random_photo %}
            <img src="/static/images/IMG_20210516_105905.jpg" alt="img2" height="1200" width="1600"
                 style="padding: 30px; margin-left: 60px">
        {% else %}
            <img src="{{ random_photo.photo.url }}" alt="rand_img" height="1200" width="1600" style="padding: 30px; margin-left: 60px">
        {% endif %}
    </div>

    <div style="font-size: 30px">
        <pre>
            <i>    Join the TripShare community now and start sharing your photos.
                If you like to travel and share you are at the right place.
                Press the register button and fill out the form to create an account
                and start exploring the shared content.
                If you already have an account press the login button to sign in.
            </i>
        </pre>
    </div>

{% endblock %}
